/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
	margin: 0;
	background-color: lightblue;
	display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}

@keyframes headamp {
	0% {
		opacity: 0%;
		transform: translateY(-10%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}

@keyframes fadeamp {
	0% {

	}
}

.initialpage {
	animation: 0.5s ease-in 1 headamp;
}

.initialpage h1 {
	position: relative;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'adobe';
	font-size: 40px;
}

.initialpage p {
	position: relative;
	font-family: 'arial';
	font-size: 18px;
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.dataentry {
	display: block;
	position: relative;
	text-align: center;
    overflow: hidden;
}
 
.textbox-1 {
    display: inline-block;
    border: 1px solid red;
}

.textbox-1 p {
	width: auto;
	font-size: 18px;
	text-align: center;
}

.textbox-2 {
	display: inline-block;
    border: 1px solid green;
}

.textbox-2 p {
	width: auto;
	font-size: 18px;
	text-align: center;
}

/* Impedance textbox */
#first {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

/* Sensitivity textbox */
#second {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

/* Placeholder of textboxes */
input {
	padding: 5px;
	text-align: center;
	background-color: grey;
}

input[type=text]:focus {
	border-color: lightblue;
	background-color: darkgrey;
}

#submit {
	display: block;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	margin: 0 auto;
	font-size: 16px;
	border-radius: 10px;
	padding: 10px 20px;
}

#submit:hover {
	background-color: lightgrey;
}

/* This is for the whole Tableresults */
.tableresults {
	position: relative;
	align-content: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

/* Makes the border of the table merge better */
.tableouter {
	position: relative;
	border-collapse: collapse;
	font-size: 15px;
}

/* For the table headers */
.tablouter tr, th {
	border: solid;
	padding: 10px;
}

/* For the table body */
.tableouter tr, td {
	border: 1px solid;
	padding: 10px;
	text-overflow: auto;
	text-align: center;
}
